<a href="https://colab.research.google.com/github/snigdha-eng/AI-and-ML/blob/master/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1st program
for i in range(0,5):
    for j in range (0,i+1):
        print("*",end=" ")
        
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [2]:
#2nd program
k=int(input("enter the value of k"))
for i in range(1,11):
    mul=k*i;
    print(k,end=" ")
    print("*",end=" ")
    print(i,end=" ")
    print("=",end=" ")
    print(k*i)

enter the value of k4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [4]:
#3rd program
import cmath
a=int(input("enter the value of a" ))
b=int(input("enter the value of b" ))
c=int(input("enter the value of c" ))
bs=b*b
fac=4*a*c
bsm=bs-fac
ta=2*a
s=cmath.sqrt(bsm)
a1=((-b)+s)/ta
a2=((-b)-s)/ta
print(a1)
print(a2)

enter the value of a1
enter the value of b4
enter the value of c16
(-2+3.4641016151377544j)
(-2-3.4641016151377544j)

In [6]:
#4th program
n=int(input("enter n"))
print("The decimal value of",n,":",bin(n),"in binary")

enter n75
The decimal value of 75 : 0b1001011 in binary

In [8]:
#5th program
n=int(input("enter n"))
a=0;
b=1;
print(a)
print(b)
for i in range(0,n-2):
    c=a+b;
    a=b;
    b=c;
    print(c)

enter n4
0
1
1
2